page-inicio {

  .img-relogio {
    margin-left: 2px;
    width: 55px;
    padding-top: -90px;
  }

  .aling-horarios {
    padding-left: 65px;
    margin-top: -60px;

  }

  .align-entrega {
    padding-left: 170px;
    margin-top: -79px;
  }

  .letraHorarios {
    font-size: 10px;
    font-weight: 600;
  }

  .letratempo {
    font-size: 10px;
    font-weight: 250px;
    margin-top: -8px;

  }

  .letratempo1 {
    font-size: 10px;
    font-weight: 250px;
    margin-top: -8px;

  }

  .slidePromocoes {
    margin-top: 10px;
  }

  .botaoSuperiorSlide,
  .botaoInferiorSlide {
    background-color: #F5AB3D;
    font-size: 15px;
    font-weight: 50px;
    text-align: center;
  }






}